<div
  class="max-h-screen bg-gray-100 flex flex-col items-center justify-center mt-12"
>
  <div class="bg-white p-8  pb-0 rounded-lg shadow-lg w-full max-w-4xl">
    <div class="flex items-center mb-8 justify-between ">
      <div class="flex items-center">
        <input
          type="file"
          accept="image/*"
          #fileInput
          (change)="onFileSelected($event)"
          hidden
        />
        <img
          class="w-16 h-16 rounded-full mr-4"
          [src]="
            updatedProfilePic
              ? (updatedProfilePic | objectUrl)
              : profilePic?.url || '/images/user.png'
          "
          alt="Avatar"
          (click)="fileInput.click()"
        />
        <div>
          <h2 class="font-semibold exo-text">{{ userName }}</h2>
          <p class="text-gray-600 text-sm exo-text">{{ email }}</p>
        </div>
      </div>
      <button
        type="submit"
        class="px-4 py-1 text-xs leading-5 font-light rounded-md ring-1 ring-blue-600 hover:bg-blue-700 hover:text-white text-blue-800 exo-text"
      >
        Update
      </button>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-7 mb-12">
      <div>
        <label class="block text-gray-700 poppins-text text-sm">Name</label>
        <input
          type="text"
          [value]="userName"
          placeholder="Your  Name"
          class="w-full mt-2 p-2 bg-gray-50 placeholder:text-gray-400 text-sm border-none rounded-lg"
        />
      </div>

      <div>
        <label class="block text-gray-700 poppins-text text-sm"
          >Qualification</label
        >
        <input
          type="text"
          placeholder="Your Highest Qualification"
          class="w-full mt-2 p-2 bg-gray-50 placeholder:text-gray-400 text-sm border-none rounded-lg"
        />
      </div>
    </div>

    <div class="flex items-center mb-8 justify-between">
      <div>
        <h2 class="font-semibold exo-text">Change Password</h2>
      </div>
      <button
        type="submit"
        (click)="changePassword()"
        class="px-4 py-1 text-xs leading-5 font-light rounded-md ring-1 ring-blue-600 hover:bg-blue-700 hover:text-white text-blue-800 exo-text"
      >
        Update
      </button>
    </div>
    <form>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-7 mb-8">
        <div>
          <label class="block text-gray-700 poppins-text text-sm jost-text"
            >Old Password</label
          >
          <input
            type="text"
            placeholder="Old Password"
            name="oldPassword"
            [(ngModel)]="oldPassword"
            class="w-full mt-2 p-3 bg-white placeholder:text-gray-400 text-sm border-none rounded-lg jost-text"
          />
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-7 mb-8">
        <div>
          <label class="block text-gray-700 poppins-text text-sm jost-text"
            >New Password</label
          >
          <input
            type="text"
            placeholder="New Password"
            name="updatedPassword"
            [(ngModel)]="updatedPassword"
            class="w-full mt-2 p-3 bg-white placeholder:text-gray-400 text-sm border-none rounded-lg jost-text"
          />
        </div>
        <div>
          <label class="block text-gray-700 poppins-text text-sm jost-text"
            >Confirm Password</label
          >
          <input
            type="text"
            name="confirmPassword"
            placeholder="Confirm Password"
            [(ngModel)]="confirmPassword"
            class="w-full mt-2 p-3 bg-white placeholder:text-gray-400 text-sm border-none rounded-lg jost-text"
          />
        </div>
      </div>
    </form>
  </div>

  <div class="mt-10 bg-white p-8 pb-4 rounded-lg shadow-lg w-full max-w-4xl">
    <div class="flex justify-between">
      <h2 class="text-xl font-bold mb-4">Certificates</h2>
      <button
        (click)="openModal()"
        class="rounded-md border text-blue-600 h-6 px-4 py-0.5 hover:bg-blue-100 ring-1 ring-blue-600 jost-text text-xs leading-none"
      >
        <i class="fas fa-upload mr-2"></i>
        Verify Certificates
      </button>
    </div>
    <div class="grid grid-cols-3 gap-4 mt-4">
      <div class="flex flex-col items-center">
        <div class="border rounded-lg p-4 flex flex-col items-center">
          <svg
            class="h-16 w-16 text-red-500"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              d="M14 2H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-4H8V8h5v2z"
            />
          </svg>
          <span class="mt-2 text-sm font-medium">Samantha_B.E Certificate</span>
          <span class="text-green-500 mt-1">
            <svg
              class="w-6 h-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"
              />
            </svg>
          </span>
        </div>
      </div>
      <div class="flex flex-col items-center">
        <div class="border rounded-lg p-4 flex flex-col items-center">
          <svg
            class="h-16 w-16 text-red-500"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              d="M14 2H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-4H8V8h5v2z"
            />
          </svg>
          <span class="mt-2 text-sm font-medium">Samantha_CA Certificate</span>
          <span class="text-green-500 mt-1">
            <svg
              class="w-6 h-6"
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M5 13l4 4L19 7"
              />
            </svg>
          </span>
        </div>
      </div>
      <div class="flex flex-col items-center">
        <div class="border rounded-lg p-4 flex flex-col items-center">
          <svg
            class="h-16 w-16 text-red-500"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              d="M14 2H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-4H8V8h5v2z"
            />
          </svg>
          <span class="mt-2 text-sm font-medium">Samantha_CA Certificate</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="isVisible$ | async"
  class="fixed inset-0 z-50 overflow-y-auto flex items-center justify-center bg-black bg-opacity-60"
>
  <app-upload-certificates
    (modalClosed)="closeModal()"
  ></app-upload-certificates>
</div>
