<section>
  <div
    class="relative flex min-h-screen flex-col justify-center overflow-hidden shadow-lg bg-gray-100 py-12"
    *ngIf="!otp; else elseBlock"
  >
    <div
      class="relative mx-auto w-full max-w-md flex-col space-y-8 p-8 bg-white rounded-2xl shadow-lg"
    >
      <div
        class="flex flex-col items-center justify-center space-y-5 text-center"
      >
        <h1 class="font-bold text-3xl">Forgot Password</h1>
        <div class="font-semibold">
          <i class="bi bi-shield-lock-fill text-[#002D99] text-5xl"></i>
        </div>
        <div class="flex flex-row text-sm font-medium text-gray-400">
          <p>Please enter registered email</p>
        </div>
      </div>
      <div class="mt-3">
        <form [formGroup]="passwordForm" (ngSubmit)="sentOtp()">
          <div class="flex flex-col gap-10">
            <div
              class="mx-auto flex w-full max-w-xs flex-col items-center justify-between"
            >
              <div class="w-full flex flex-col gap-3">
                <div class="flex flex-col gap-3">
                <label
                  [style.color]="
                    isSubmitted && formControls['email'].errors ? 'red' : ''
                  "
                  class="mb-2 text-gray-400 text-sm"
                  >{{
                    isSubmitted &&
                    formControls["email"].errors?.hasOwnProperty("required")
                      ? "Email required"
                      : isSubmitted &&
                        formControls["email"].errors?.hasOwnProperty("pattern")
                      ? "Invalid email"
                      : "Email"
                  }}</label
                >
                <input
                  type="text"
                  formControlName="email"
                  placeholder="example@gmail.com"
                  class="rounded-md p-2 w-full bg-gray-100 "
                />
              </div>
              <div class="flex flex-col gap-3">
                <label
                  [style.color]="
                    isSubmitted && formControls['role'].errors ? 'red' : ''
                  "
                  class="mt-3 text-gray-400 text-sm"
                >
                  {{
                    isSubmitted &&
                    formControls["role"].errors?.hasOwnProperty("required")
                      ? "Role is required"
                      : "Role"
                  }}
                </label>
                <select
                  formControlName="role"
                  class="rounded-md mt-1 text-gray-400 text-sm p-2 w-full bg-gray-100"
                >
                  <option value="" disabled selected>Select your role</option>
                  <option *ngFor="let rolle of roles" [value]="rolle">
                    {{ rolle }}
                  </option>
                </select>
              </div>
              </div>
            </div>
              <div
                class="mx-auto flex w-full max-w-xs flex-row items-center justify-between"
              >
                <button
                  class="flex w-full flex-row items-center justify-center rounded-xl border border-none bg-[#002D74] py-2.5 text-center text-sm text-white shadow-sm outline-none"
                  type="submit"
                >
                  Submit
                </button>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <ng-template #elseBlock>
    <div
      class="relative flex min-h-screen flex-col justify-center overflow-hidden shadow-lg bg-gray-100 py-12"
    >
      <div
        class="relative mx-auto w-full max-w-md flex-col space-y-16 p-8 bg-white rounded-2xl shadow-lg"
      >
        <div
          class="flex flex-col items-center justify-center space-y-1 text-center"
        >
          <h1 class="font-bold text-3xl pb-2">Verify OTP</h1>
          <div class="text-3xl font-semibold">
            <i class="bi bi-shield-fill-check text-blue-500 text-3xl"></i>
          </div>
          <div class="flex flex-row text-sm font-medium text-gray-400">
            <p>Please enter OTP sent to email {{ data.email }}</p>
          </div>
        </div>
        <div>
          <form #form="ngForm" class="mt-5" (ngSubmit)="onSubmit(form)">
            <div class="flex flex-col space-y-16">
              <div
                class="mx-auto flex w-full max-w-xs flex-row items-center justify-between"
              >
                <div class="h-16 w-16">
                  <input
                    [(ngModel)]="text1"
                    type="text"
                    #txt1
                    maxlength="1"
                    name="text1"
                    (keyup)="move($event, '', txt1, txt2)"
                    class="flex h-full w-full flex-col items-center justify-center rounded-xl border border-gray-200 bg-white px-3 text-center text-lg outline-none ring-blue-700 focus:bg-gray-50 focus:ring-1 shadow-md"
                  />
                </div>
                <div class="h-16 w-16">
                  <input
                    [(ngModel)]="text2"
                    type="text"
                    #txt2
                    maxlength="1"
                    name="text2"
                    (keyup)="move($event, txt1, txt2, txt3)"
                    class="flex h-full w-full flex-col items-center justify-center rounded-xl border border-gray-200 bg-white px-3 text-center text-lg outline-none ring-blue-700 focus:bg-gray-50 focus:ring-1 shadow-md"
                  />
                </div>
                <div class="h-16 w-16">
                  <input
                    [(ngModel)]="text3"
                    type="text"
                    #txt3
                    maxlength="1"
                    name="text3"
                    (keyup)="move($event, txt2, txt3, txt4)"
                    class="flex h-full w-full flex-col items-center justify-center rounded-xl border border-gray-200 bg-white px-3 text-center text-lg outline-none ring-blue-700 focus:bg-gray-50 focus:ring-1 shadow-md"
                  />
                </div>
                <div class="h-16 w-16">
                  <input
                    [(ngModel)]="text4"
                    type="text"
                    #txt4
                    maxlength="1"
                    name="text4"
                    (keyup)="move($event, txt3, txt4, '')"
                    class="flex h-full w-full flex-col items-center justify-center rounded-xl border border-gray-200 bg-white px-3 text-center text-lg outline-none ring-blue-700 focus:bg-gray-50 focus:ring-1 shadow-md"
                  />
                </div>
              </div>
              <div class="flex flex-col space-y-5">
                <div>
                  <button
                    class="flex w-full flex-row items-center justify-center rounded-xl border border-none bg-blue-700 py-3 text-center text-sm text-white shadow-sm outline-none"
                    type="submit"
                  >
                    Verify Account
                  </button>
                </div>
                <div
                  class="flex flex-row items-center justify-center space-x-1 text-center text-sm font-medium text-gray-500"
                >
                  <p>Didn't receive OTP ?</p>
                  <p
                    class="flex flex-row items-center text-blue-600 cursor-pointer"
                    (click)="sentOtp()"
                    *ngIf="resendOtp; else countDown"
                  >
                    Resend
                  </p>
                  <ng-template #countDown
                    ><strong> {{ timer }}</strong></ng-template
                  >
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </ng-template>
</section>
