<div class="container mx-auto py-12" style="height: calc(100vh - 4.09rem)">
  <div class="flex gap-1">
    <div
      class="flex-grow pr-4 overflow-y-auto"
      style="max-height: calc(100vh - 4.09rem); scrollbar-width: none"
    >
      <!-- Main content goes here -->
      <div class="grid grid-cols-3 gap-x-5 gap-y-10">
        <div
          *ngFor="let course of courses"
          class="flex flex-col bg-white rounded-lg shadow-md text-center transform transition duration-700 hover:scale-100 hover:shadow-lg hover:shadow-slate-400"
        >
          <img
            [src]="course.previewImage[0].url"
            alt="Course Image 3"
            class="rounded-t-lg w-full h-72 object-cover"
          />
          <span
            class="absolute top-2 left-2 bg-black text-white text-sm px-2 py-1 rounded jost-text"
            >{{ course.category_id.title | titlecase }}</span
          >
          <div class="flex-grow p-4 pb-0">
            <p class="text-gray-500 text-sm text-left jost-text">
              by {{ course.user_id.name | titlecase }}
            </p>
            <h2
              class="font-bold text-lg text-left truncate overflow-hidden line-clamp-2 text-wrap exo-text"
            >
              {{ course.title | titlecase }}
            </h2>
            <div
              class="flex justify-start items-center space-x-8 text-sm text-gray-500 mt-2 mb-4"
            >
              <span class="jost-text flex items-center">
                <i class="fas fa-clock text-orange-500 mr-2"></i>
                {{ course.createdAt | date }}
              </span>
              <span class="jost-text flex items-center">
                <i class="fas fa-graduation-cap text-orange-500 mr-2"></i> 156
                Students
              </span>

              <span class="jost-text flex items-center">
                <i class="text-orange-500 fas fa-star mr-2"></i>
                {{ course.rating | number:'1.0-1' }} Rating

              </span>
            </div>
            <hr class="w-11/12 mt-2 mx-auto text-gray-500" />
          </div>
          <div class="flex justify-between items-center p-4">
            <div class="flex justify-start space-x-3">
              <span class="text-gray-400 jost-text">₹ {{ course.price }}</span>
            </div>
            <button
              class="exo-text font-bold"
              [routerLink]="['./view', course._id]"
            >
              View More
            </button>
          </div>
        </div>
      </div>

      <div class="mt-16 flex justify-center items-center">
        <app-pagination
          [totalPages]="totalPages"
          [currentPage]="currentPage"
          (pageChanged)="onPageChanged($event)"
        ></app-pagination>
      </div>
    </div>

    <div
      class="min-w-80 sticky p-4 overflow-y-hidden drop-shadow-md bg-white shadow-lg rounded-md"
      style="max-height: calc(100vh - 8.09rem)"
    >
      <app-course-filter
        [selectedCategoryId]="selectedCategory?._id!"
        (onApplyFilter)="onApplyFilter($event)"
      ></app-course-filter>
    </div>
  </div>
</div>
