<div class="container mx-auto py-12">
  <div class="flex gap-1">
    <div
      class="flex-grow p-4 overflow-y-auto"
      style="max-height: calc(100vh - 4.09rem); scrollbar-width: none"
    >
      <!-- Main content goes here -->
      <div class="grid grid-cols-3 gap-x-3 gap-y-10">
        <div
          class="flex flex-col bg-white rounded-lg shadow-md text-center transform transition duration-700 hover:scale-105 hover:shadow-lg hover:shadow-slate-400"
        >
          <img
            src="images/banner.png"
            alt="Course Image 3"
            class="rounded-t-lg w-full h-72 object-center"
          />
          <span
            class="absolute top-2 left-2 bg-black text-white text-sm px-2 py-1 rounded jost-text"
            >Photography</span
          >
          <div class="flex-grow p-4 pb-0">
            <p class="text-gray-500 text-sm text-left jost-text">
              by Determined-Poitras
            </p>
            <h2
              class="font-bold text-lg text-left truncate overflow-hidden line-clamp-2 text-wrap exo-text"
            >
              truncate overflow-hidden line-clamp-2 text-wraptruncate
              overflow-hidden line-clamp-2 text-wraptruncate overflow-hidden
              line-clamp-2 text-wrapCreate An LMS Website With LearnPress
            </h2>
            <div
              class="flex justify-start items-center space-x-8 text-sm text-gray-500 mt-2 mb-4"
            >
              <span class="jost-text flex items-center">
                <i class="fas fa-clock text-orange-500 mr-2"></i> 2 Weeks
              </span>
              <span class="jost-text flex items-center">
                <i class="fas fa-graduation-cap text-orange-500 mr-2"></i> 156
                Students
              </span>
            </div>
            <hr class="w-11/12 mt-2 mx-auto text-gray-500" />
          </div>
          <div class="flex justify-between items-center p-4">
            <div class="flex justify-start space-x-3">
              <span class="line-through text-gray-400 jost-text">$29.0</span>
              <span class="text-green-500 font-bold jost-text">Free</span>
            </div>
            <button class="exo-text font-bold">View More</button>
          </div>
        </div>
        <div
          class="flex flex-col bg-white rounded-lg shadow-md text-center transform transition duration-700 hover:scale-105 hover:shadow-lg hover:shadow-slate-400"
        >
          <img
            src="images/banner.png"
            alt="Course Image 3"
            class="rounded-t-lg w-full h-72 object-cover"
          />
          <span
            class="absolute top-2 left-2 bg-black text-white text-sm px-2 py-1 rounded jost-text"
            >Photography</span
          >
          <div class="flex-grow p-4 pb-0">
            <p class="text-gray-500 text-sm text-left jost-text">
              by Determined-Poitras
            </p>
            <h2
              class="font-bold text-lg text-left truncate overflow-hidden line-clamp-2 text-wrap exo-text"
            >
              truncate overflow-hidden line-clamp-2 text-wraptruncate
              overflow-hidden line-clamp-2 text-wraptruncate overflow-hidden
              line-clamp-2 text-wrapCreate An LMS Website With LearnPress
            </h2>
            <div
              class="flex justify-start items-center space-x-8 text-sm text-gray-500 mt-2 mb-4"
            >
              <span class="jost-text flex items-center">
                <i class="fas fa-clock text-orange-500 mr-2"></i> 2 Weeks
              </span>
              <span class="jost-text flex items-center">
                <i class="fas fa-graduation-cap text-orange-500 mr-2"></i> 156
                Students
              </span>
            </div>
            <hr class="w-11/12 mt-2 mx-auto text-gray-500" />
          </div>
          <div class="flex justify-between items-center p-4">
            <div class="flex justify-start space-x-3">
              <span class="line-through text-gray-400 jost-text">$29.0</span>
              <span class="text-green-500 font-bold jost-text">Free</span>
            </div>
            <button class="exo-text font-bold">View More</button>
          </div>
        </div>
        <div
          class="flex flex-col bg-white rounded-lg shadow-md text-center transform transition duration-700 hover:scale-105 hover:shadow-lg hover:shadow-slate-400"
        >
          <img
            src="images/banner.png"
            alt="Course Image 3"
            class="rounded-t-lg w-full h-72 object-cover"
          />
          <span
            class="absolute top-2 left-2 bg-black text-white text-sm px-2 py-1 rounded jost-text"
            >Photography</span
          >
          <div class="flex-grow p-4 pb-0">
            <p class="text-gray-500 text-sm text-left jost-text">
              by Determined-Poitras
            </p>
            <h2
              class="font-bold text-lg text-left truncate overflow-hidden line-clamp-2 text-wrap exo-text"
            >
              truncate overflow-hidden line-clamp-2 text-wraptruncate
              overflow-hidden line-clamp-2 text-wraptruncate overflow-hidden
              line-clamp-2 text-wrapCreate An LMS Website With LearnPress
            </h2>
            <div
              class="flex justify-start items-center space-x-8 text-sm text-gray-500 mt-2 mb-4"
            >
              <span class="jost-text flex items-center">
                <i class="fas fa-clock text-orange-500 mr-2"></i> 2 Weeks
              </span>
              <span class="jost-text flex items-center">
                <i class="fas fa-graduation-cap text-orange-500 mr-2"></i> 156
                Students
              </span>
            </div>
            <hr class="w-11/12 mt-2 mx-auto text-gray-500" />
          </div>
          <div class="flex justify-between items-center p-4">
            <div class="flex justify-start space-x-3">
              <span class="line-through text-gray-400 jost-text">$29.0</span>
              <span class="text-green-500 font-bold jost-text">Free</span>
            </div>
            <button class="exo-text font-bold">View More</button>
          </div>
        </div>
        <div
          class="flex flex-col bg-white rounded-lg shadow-md text-center transform transition duration-700 hover:scale-105 hover:shadow-lg hover:shadow-slate-400"
        >
          <img
            src="images/banner.png"
            alt="Course Image 3"
            class="rounded-t-lg w-full h-72 object-cover"
          />
          <span
            class="absolute top-2 left-2 bg-black text-white text-sm px-2 py-1 rounded jost-text"
            >Photography</span
          >
          <div class="flex-grow p-4 pb-0">
            <p class="text-gray-500 text-sm text-left jost-text">
              by Determined-Poitras
            </p>
            <h2
              class="font-bold text-lg text-left truncate overflow-hidden line-clamp-2 text-wrap exo-text"
            >
              truncate overflow-hidden line-clamp-2 text-wraptruncate
              overflow-hidden line-clamp-2 text-wraptruncate overflow-hidden
              line-clamp-2 text-wrapCreate An LMS Website With LearnPress
            </h2>
            <div
              class="flex justify-start items-center space-x-8 text-sm text-gray-500 mt-2 mb-4"
            >
              <span class="jost-text flex items-center">
                <i class="fas fa-clock text-orange-500 mr-2"></i> 2 Weeks
              </span>
              <span class="jost-text flex items-center">
                <i class="fas fa-graduation-cap text-orange-500 mr-2"></i> 156
                Students
              </span>
            </div>
            <hr class="w-11/12 mt-2 mx-auto text-gray-500" />
          </div>
          <div class="flex justify-between items-center p-4">
            <div class="flex justify-start space-x-3">
              <span class="line-through text-gray-400 jost-text">$29.0</span>
              <span class="text-green-500 font-bold jost-text">Free</span>
            </div>
            <button class="exo-text font-bold">View More</button>
          </div>
        </div>
        <div
          class="flex flex-col bg-white rounded-lg shadow-md text-center transform transition duration-700 hover:scale-105 hover:shadow-lg hover:shadow-slate-400"
        >
          <img
            src="images/banner.png"
            alt="Course Image 3"
            class="rounded-t-lg w-full h-72 object-cover"
          />
          <span
            class="absolute top-2 left-2 bg-black text-white text-sm px-2 py-1 rounded jost-text"
            >Photography</span
          >
          <div class="flex-grow p-4 pb-0">
            <p class="text-gray-500 text-sm text-left jost-text">
              by Determined-Poitras
            </p>
            <h2
              class="font-bold text-lg text-left truncate overflow-hidden line-clamp-2 text-wrap exo-text"
            >
              truncate overflow-hidden line-clamp-2 text-wraptruncate
              overflow-hidden line-clamp-2 text-wraptruncate overflow-hidden
              line-clamp-2 text-wrapCreate An LMS Website With LearnPress
            </h2>
            <div
              class="flex justify-start items-center space-x-8 text-sm text-gray-500 mt-2 mb-4"
            >
              <span class="jost-text flex items-center">
                <i class="fas fa-clock text-orange-500 mr-2"></i> 2 Weeks
              </span>
              <span class="jost-text flex items-center">
                <i class="fas fa-graduation-cap text-orange-500 mr-2"></i> 156
                Students
              </span>
            </div>
            <hr class="w-11/12 mt-2 mx-auto text-gray-500" />
          </div>
          <div class="flex justify-between items-center p-4">
            <div class="flex justify-start space-x-3">
              <span class="line-through text-gray-400 jost-text">$29.0</span>
              <span class="text-green-500 font-bold jost-text">Free</span>
            </div>
            <button class="exo-text font-bold">View More</button>
          </div>
        </div>

        <!-- Repeat course cards as needed -->
      </div>

      <div class="mt-16 flex justify-center items-center">
        <app-pagination
          [totalPages]="totalPages"
          [currentPage]="currentPage"
          (pageChanged)="onPageChanged($event)"
        ></app-pagination>
      </div>
    </div>

    <div
      class="min-w-80 sticky p-4 overflow-y-hidden bg-white shadow-lg rounded-md"
      style="max-height: calc(100vh - 4.09rem); "
    >
      <app-filter></app-filter>
    </div>
  </div>
</div>
