/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;


.exo-text {
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .jost-text {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

  .poppins-text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
