/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';

.exo-text {
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  .jost-text {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

