server/services/auth/.env
server/services/auth/node_modules
server/services/student/.env
server/services/student/node_modules
server/services/teacher/.env
server/services/teacher/node_modules
server/services/course/.env
server/services/course/node_modules
server/services/payment/.env
server/services/payment/node_modules
server/services/chat/.env
server/services/chat/node_modules
server/apiGateway/.env
server/apiGateway/node_modules
server/docker-compose.yml


client/node_modules
client/src/environments