server/services/auth/.env
server/services/auth/node_modules
server/services/student/.env
server/services/student/node_modules
server/services/teacher/.env
server/services/teacher/node_modules
server/services/admin/.env
server/services/admin/node_modules
server/apiGateway/.env
server/apiGateway/node_modules


client/node_modules
client/src/environments