<section class="min-h-screen">
    <div>
        <div>
            <img src="" alt="">
        </div>

        <div>
            <h2 class="font-bold text-2xl">
                Register
            </h2>

            <form action="" class="flex flex-col gap-4">
                <input type="text" name="name" placeholder="User Name">

                <input type="text" name="email" placeholder="Email">

                <button>Register</button>
            </form>
        </div>
    </div>
</section>