
<div class="mx-auto py-8">
  <div class="flex flex-wrap justify-between mt-8">
    <div
      class="bg-white shadow-md rounded-lg p-6 flex w-1/5 m-2 justify-evenly"
    >
      <div
        class="flex items-center justify-center bg-green-100 rounded-full w-24 h-24 mr-4"
      >
        <i class="fas fa-laptop-code text-green-500 text-4xl"></i>
      </div>
      <div class="flex flex-col gap-1">
        <p class="text-4xl font-bold">75</p>
        <p class="text-gray-500">Total Courses</p>
        <p class="text-green-500 text-sm">4% (30 days)</p>
      </div>
    </div>
    <div
      class="bg-white shadow-md rounded-lg p-6 flex w-1/5 m-2 justify-evenly"
    >
      <div
        class="flex items-center justify-center bg-green-100 rounded-full w-24 h-24 mr-4"
      >
        <i class="fas fa-box text-green-500 text-4xl"></i>
      </div>
      <div class="flex flex-col gap-1">
        <p class="text-4xl font-bold">357</p>
        <p class="text-gray-500">Total Subscriptions</p>
        <p class="text-green-500 text-sm">4% (30 days)</p>
      </div>
    </div>
    <div
      class="bg-white shadow-md rounded-lg p-6 flex w-1/5 m-2 justify-evenly"
    >
      <div
        class="flex items-center justify-center bg-green-100 rounded-full w-24 h-24 mr-4"
      >
        <i class="fas fa-star text-green-500 text-4xl"></i>
      </div>
      <div class="flex flex-col gap-1">
        <p class="text-4xl font-bold">4.2/5</p>
        <p class="text-gray-500">Overall Rating</p>
        <p class="text-green-500 text-sm">2% (30 days)</p>
      </div>
    </div>
    <div
      class="bg-white shadow-md rounded-lg p-6 flex w-1/5 m-2 justify-evenly"
    >
      <div
        class="flex items-center justify-center bg-green-100 rounded-full w-24 h-24 mr-4"
      >
        <i class="fas fa-shopping-bag text-green-500 text-4xl"></i>
      </div>
      <div class="flex flex-col gap-1">
        <p class="text-4xl font-bold">$128</p>
        <p class="text-gray-500">Total Revenue</p>
        <p class="text-green-500 text-sm">12% (30 days)</p>
      </div>
    </div>
  </div>

  <div class="flex items-center justify-between mt-12">
    <div class="flex items-center jost-text">
      <p class="text-md font-bold">Timeframe: All-time</p>
      <select class="ml-2 rounded-md border text-sm border-gray-300 px-2 py-1">
        <option value="all-time">All-time</option>
        <option value="last-month">Last Month</option>
        <option value="last-year">Last Year</option>
      </select>
    </div>
    <button
      class="rounded-md border text-blue-600 py-1 px-10 hover:bg-blue-100 ring-1 ring-blue-600 jost-text"
    >
      <i class="fa fa-download"></i> &nbsp;&nbsp;Download
    </button>
  </div>

  <div class="grid grid-cols-2 gap-4 mt-8">
    <div class="bg-white rounded-lg shadow-md p-4">
      <apx-chart
        [series]="chartOptions.series!"
        [chart]="chartOptions.chart!"
        [xaxis]="chartOptions.xaxis!"
        [dataLabels]="chartOptions.dataLabels!"
        [grid]="chartOptions.grid!"
        [stroke]="chartOptions.stroke!"
        [title]="chartOptions.title!"
        [markers]="chartOptions.markers!"
        [yaxis]="chartOptions.yaxis!"
        [fill]="chartOptions.fill!"
      ></apx-chart>
    </div>
    <div class="bg-white rounded-lg shadow-md p-4">
      <apx-chart
        [series]="chartOptions.series!"
        [chart]="chartOptions.chart!"
        [xaxis]="chartOptions.xaxis!"
        [dataLabels]="chartOptions.dataLabels!"
        [grid]="chartOptions.grid!"
        [stroke]="chartOptions.stroke!"
        [title]="chartOptions.title!"
        [markers]="chartOptions.markers!"
        [yaxis]="chartOptions.yaxis!"
        [fill]="chartOptions.fill!"
      ></apx-chart>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-4 mt-8">
    <div class="bg-white rounded-lg shadow-md p-4">
      <div class="">
        <apx-chart
          [series]="chartOptions.series!"
          [chart]="chartOptions.chart!"
          [xaxis]="chartOptions.xaxis!"
          [dataLabels]="chartOptions.dataLabels!"
          [grid]="chartOptions.grid!"
          [stroke]="chartOptions.stroke!"
          [title]="chartOptions.title!"
          [markers]="chartOptions.markers!"
          [yaxis]="chartOptions.yaxis!"
          [fill]="chartOptions.fill!"
        ></apx-chart>
      </div>
    </div>
    <div class="grid grid-cols-2 gap-4">
      <div class="bg-white rounded-lg shadow-md p-4">
        <h2 class="text-sm font-medium text-gray-500 mb-4">
          Instructor Distribution
        </h2>
        <div
          id="chart"
          class="flex flex-col items-center justify-center h-full"
        >
          <apx-chart
            [series]="pieChartOptions.series!"
            [chart]="pieChartOptions.chart!"
            [labels]="pieChartOptions.labels"
            [fill]="pieChartOptions.fill!"
            [dataLabels]="pieChartOptions.dataLabels!"
            [responsive]="pieChartOptions.responsive!"
          ></apx-chart>
        </div>
      </div>
      <div class="bg-white rounded-lg shadow-md p-4">
        <h2 class="text-sm font-medium text-gray-500 mb-4">
          Subscription Distribution
        </h2>
        <div
          id="chart "
          class="flex flex-col items-center justify-center h-full"
        >
          <apx-chart
            [series]="pieChartOptions.series!"
            [chart]="pieChartOptions.chart!"
            [labels]="pieChartOptions.labels"
            [fill]="pieChartOptions.fill!"
            [dataLabels]="pieChartOptions.dataLabels!"
            [responsive]="pieChartOptions.responsive!"
          ></apx-chart>
        </div>
      </div>
    </div>
  </div>
</div>
