<div class="flex justify-start mt-8">
  <div class="w-8/12">
    <h2 class="text-2xl font-semibold mb-4">Reviews</h2>

    <div
      *ngFor="let review of reviews"
      class="bg-white p-4 rounded-lg shadow-md mb-4 min-w-full"
    >
      <div class="flex items-center mb-2">
        <img
          class="w-10 h-10 rounded-full mr-4"
          [src]="review.subscriber.profilePic.url || '/images/user.png'"
          alt="User image"
        />
        <div>
          <h3 class="text-sm font-semibold text-purple-600">
            {{ review.subscriber.name }}
          </h3>
        </div>
      </div>
      <p class="text-gray-800">
        {{ review.feedback }}
      </p>
      <div class="flex items-center justify-between mt-2">
        <div class="flex items-center">
          <!-- <span class="text-yellow-500">★★★☆☆</span> -->
          <span *ngFor="let star of review.rating | ratingStar">
            <i
              [ngClass]="
                star === 1
                  ? 'fas fa-star'
                  : star === 0.5
                  ? 'fas fa-star-half-alt'
                  : 'far fa-star'
              "
              class="text-yellow-300 text-xs mr-0.5"
            ></i>
          </span>
        </div>
        <span class="text-sm text-gray-500">{{ review.createdAt | date }}</span>
      </div>
    </div>
  </div>
</div>
