<div class="w-full max-w-md mx-auto mt-10 p-6 bg-white rounded-lg shadow-md">
  <div
    class="flex items-center justify-between mb-4 p-4 rounded-t dark:border-gray-600"
  >
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
      Add Category
    </h3>
    <button
      type="button"
      (click)="closeModal()"
      class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
    >
      <svg
        class="w-3 h-3"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 14 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
        />
      </svg>
      <span class="sr-only">Close modal</span>
    </button>
  </div>
  <div class="py-6">
    <label class="block text-gray-700 text- font-bold">Category</label>
    <select
  class="w-full mt-2 p-2 bg-gray-50 text-sm border-none rounded-lg"
  [(ngModel)]="selectedCategory"
  (change)="selectCategory($event)"
>
  <option value="" disabled selected hidden>Select category</option>
  <option *ngFor="let item of categories" [value]="item._id">
    {{ item.title }}
  </option>
</select>

  </div>
  <div
    class="border-2 border-dashed border-gray-300 rounded-lg p-6 mt-5 text-center relative"
    (dragover)="onDragOver($event)"
    (drop)="onDrop($event)"
  >
    <input
      type="file"
      (change)="onFileSelected($event)"
      class="absolute inset-0 w-full h-full opacity-0 cursor-pointer"
      multiple
    />
    <i class="bi bi-cloud-upload text-6xl font-thin text-violet-700 mb-4"></i>

    <p class="text-gray-500 mb-4">
      Drag & drop files or
      <span class="text-violet-700 cursor-pointer">Browse</span>
    </p>
    <p class="text-sm text-gray-500">
      Supported formats: Only PDF files are allowed to upload, Maximum 3 files
      can be uploaded
    </p>
  </div>

  <!-- <div class="mt-6" *ngIf="files.length > 0">
      <p class="text-gray-700 mb-2">Uploading - {{files.length}}/{{files.length}} files</p>
      <div class="h-2 bg-gray-200 rounded-full overflow-hidden">
        <div class="h-full bg-blue-600" [style.width.%]="uploadProgress"></div>
      </div>
    </div> -->

  <div class="mt-6" *ngIf="files.length > 0">
    <ul>
      <li
        *ngFor="let file of files"
        class="bg-gray-100 p-2 rounded-lg mb-2 flex justify-between items-center"
      >
        <span>{{ file.name }}</span>
        <button (click)="removeFile(file)" class="text-red-500">✕</button>
      </li>
    </ul>
  </div>

  <button
    (click)="uploadFiles()"
    class="w-full bg-blue-600 text-white py-2 mt-4 rounded-lg"
  >
    UPLOAD FILES
  </button>
</div>
