<div class="flex h-screen">
  <div class="bg-white w-64 shadow-md p-6 rounded-lg">
    <div class="flex items-center mb-6">
      <img src="images/Log.ico" alt="EduSpace Logo" class="w-10 h-10 mr-2" />
      <h1 class="text-xl font-bold exo-text">EduSpace</h1>
    </div>
    <p class="text-gray-500 mb-6 jost-text">Admin Panel</p>
    <div class="flex flex-col gap-2.5 py-2">
      <a
        *ngFor="let item of navItems"
        [ngClass]="{ 'active-link': isActiveLink(item.link) }"
        [routerLink]="item.link"
        class="text-gray-700 hover:text-gray-900 block mb-4 py-2 px-4 jost-text cursor-pointer"
      >
        <i class="mr-2" [class]="item.icon"></i> {{ item.title }}
      </a>
      <a
        (click)="logOut()"
        class="text-gray-700 hover:text-gray-900 block mb-4 py-2 px-4 jost-text cursor-pointer"
      >
        <i class="fas fa-sign-out-alt mr-2"></i> Logout
      </a>
    </div>
  </div>
  <div class="flex-1 overflow-y-auto p-6 pt-0" style="background: #f3f2f7">
    <router-outlet></router-outlet>
  </div>
</div>
