<div
  class="relative flex min-h-screen flex-col justify-center overflow-hidden shadow-lg bg-gray-100 py-12"
>
  <div
    class="relative mx-auto w-full max-w-md flex-col space-y-8 p-8 bg-white rounded-2xl shadow-lg"
  >
    <div
      class="flex flex-col items-center justify-center space-y-5 text-center"
    >
      <h1 class="font-bold text-3xl">Reset Password</h1>
      <div class="font-semibold">
        <i class="bi bi-shield-lock-fill text-[#002D99] text-5xl"></i>
      </div>
      <div class="flex flex-row text-sm font-medium text-gray-400">
        <p>Please enter registered email</p>
      </div>
    </div>
    <form
      [formGroup]="passwordForm"
      class="flex flex-col gap-2 text-sm w-full"
      (ngSubmit)="onSubmit()"
    >
      <div class="flex flex-col space-y-10">
        <div
          class="mx-auto flex w-full max-w-xs flex-col items-center justify-between"
        >
          <div class="w-full flex flex-col">
            <label
              [style.color]="
                isSubmitted && formControls['password'].errors ? 'red' : ''
              "
              class="mb-2 text-gray-400 text-sm"
              >{{
                isSubmitted &&
                formControls["password"].errors?.hasOwnProperty("required")
                  ? "Password required"
                  : isSubmitted &&
                    formControls["password"].errors?.hasOwnProperty("pattern")
                  ? "Minimun 4 characters required"
                  : "Password"
              }}</label
            >
            <input
              type="text"
              formControlName="password"
              placeholder="Password@123"
              class="p-2 rounded-xl bg-gray-100"
            />
          </div>
        </div>
        <div
          class="mx-auto flex w-full max-w-xs flex-col items-center justify-between"
        >
          <div class="w-full flex flex-col">
            <label
              [style.color]="
                isSubmitted && formControls['confirmPassword'].errors
                  ? 'red'
                  : ''
              "
              class="mb-2 text-gray-400 text-sm"
              >{{
                isSubmitted &&
                formControls["confirmPassword"].errors?.hasOwnProperty(
                  "required"
                )
                  ? "Confirm password required"
                  : isSubmitted &&
                    formControls["confirmPassword"].errors?.hasOwnProperty(
                      "match"
                    )
                  ? "Password not matching"
                  : "Confirm password"
              }}</label
            >
            <input
              type="password"
              formControlName="confirmPassword"
              placeholder="Password@123"
              class="p-2 rounded-xl bg-gray-100"
            />
          </div>
        </div>
          <div
            class="mx-auto flex w-full max-w-xs flex-row items-center justify-between"
          >
            <button
              class="flex w-full flex-row items-center justify-center rounded-xl border border-none bg-[#002D74] py-2.5 text-center text-sm text-white shadow-sm outline-none"
              type="submit"
            >
              Submit
            </button>
          </div>
      </div>
    </form>
  </div>
</div>
<p>{{userInformations}}</p>