<div class="min-h-fit px-8 pt-8 pb-4">
  <h1 class="text-2xl font-bold mb-4 exo-text">Permissions</h1>
  <div class="bg-white rounded-lg drop-shadow-md p-6 mt-10">
    <div class="flex items-center justify-end space-x-4 pb-6">
      <div class="relative">
        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
          <svg
            class="h-5 w-5 text-gray-400 z-10"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M10 18a8 8 0 100-16 8 8 0 000 16z"
            ></path>
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M21 21l-4.35-4.35"
            ></path>
          </svg>
        </span>
        <input
          class="rounded-md pl-10 pr-4 py-1 drop-shadow-md text-gray-700 placeholder-gray-400 focus:ring-0 jost-text"
          type="text"
          placeholder="Search"
          [(ngModel)]="search"
          (keyup)="applySearch()"
        />
      </div>
      <div class="flex items-center jost-text">
        <p class="text-md font-semibold">Filter</p>
        <select
          class="ml-2 rounded-md border shadow-md border-gray-300 px-2 py-1 focus:ring-0"
          [(ngModel)]="filter"
          (change)="applyFilter()"
        >
          <option value="">All</option>
          <option value="approved">Approved</option>
          <option value="pending">Pending</option>
          <option value="rejected">Rejected</option>
        </select>
      </div>
    </div>
    <div class="overflow-x-auto min-h-[50vh]">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr class="">
            <th
              scope="col"
              class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Instructor Name
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Category
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Request Date
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Status
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Certificates
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Options
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200 poppins-text">
          <tr class="text-center" *ngFor="let request of requests">
            <td class="px-6 py-4 whitespace-nowrap">
              {{ request.userDetails.name | titlecase }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              {{ request.categoryDetails.title }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap">
              {{ request.createdAt | date }}
            </td>
            <td
              class="px-6 py-4 whitespace-nowrap flex items-center justify-center"
            >
              {{ request.status | titlecase }}

              <ng-container *ngIf="request.status === 'pending'">
                <i class="fas fa-hourglass-half text-orange-500 ml-2"></i>
              </ng-container>

              <ng-container *ngIf="request.status === 'rejected'">
                <i class="fas fa-times-circle text-red-700 ml-2"></i>
              </ng-container>

              <ng-container
                *ngIf="
                  request.status !== 'pending' && request.status !== 'rejected'
                "
              >
                <i class="fas fa-check-circle text-green-500 ml-2"></i>
              </ng-container>
            </td>
            <td
              class="px-6 py-4 whitespace-nowrap cursor-pointer"
              (click)="openModal(request)"
            >
              <span
                class="px-4 py-0.5 inline-flex text-xs leading-5 font-semibold rounded-md ring-1 ring-blue-600 text-blue-800"
              >
                View
              </span>
            </td>
            <td
              class="px-6 py-4 whitespace-nowrap text-clip text-sm font-medium cursor-pointer relative"
            >
              <div class="relative">
                <button
                  class="bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                  (click)="toggleDropdown(request._id)"
                  [ngClass]="{
                    'cursor-pointer': request.status == 'pending',
                    'cursor-not-allowed opacity-50': request.status != 'pending'
                  }"
                  [disabled]="request.status != 'pending'"
                >
                  <i class="fas fa-ellipsis-v"></i>
                </button>
                <div
                  *ngIf="dropdownOpen && request._id === currentRequestId"
                  class="absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg z-50"
                >
                  <ul>
                    <li
                      class="block px-4 py-2 text-gray-800 hover:bg-gray-200 cursor-pointer"
                      (click)="
                        updateRequestStatus(
                          request._id,
                          'approved',
                          request.categoryDetails._id,
                          request.userDetails._id!
                        )
                      "
                    >
                      Approve
                    </li>
                    <li
                      class="block px-4 py-2 text-gray-800 hover:bg-gray-200 cursor-pointer"
                      (click)="
                        updateRequestStatus(
                          request._id,
                          'rejected',
                          request.categoryDetails._id,
                          request.userDetails._id!
                        )
                      "
                    >
                      Reject
                    </li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mt-16 flex justify-center items-center">
      <app-pagination
        [totalPages]="totalPages"
        [currentPage]="currentPage"
        (pageChanged)="onPageChanged($event)"
      ></app-pagination>
    </div>
  </div>
</div>

<div
  *ngIf="isVisible$ | async"
  class="fixed inset-0 z-50 overflow-y-auto flex items-center justify-center bg-black bg-opacity-60"
>
  <app-list-cetificates
    [certificates]="certificates"
    [requestId]="selectedRequestId!"
    (modalClosed)="closeModal()"
  ></app-list-cetificates>
</div>
