<div class="min-h-fit p-8">
  <h1 class="text-2xl font-bold mb-4 exo-text">Permissions</h1>
  <div class="bg-white rounded-lg drop-shadow-md p-6 mt-10">
    <div class="flex items-center justify-end space-x-4 pb-6">
      <div class="relative">
        <span class="absolute inset-y-0 left-0 flex items-center pl-3">
          <svg
            class="h-5 w-5 text-gray-400 z-10"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M10 18a8 8 0 100-16 8 8 0 000 16z"
            ></path>
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M21 21l-4.35-4.35"
            ></path>
          </svg>
        </span>
        <input
          class="rounded-md pl-10 pr-4 py-1 drop-shadow-md text-gray-700 placeholder-gray-400 focus:ring-0 jost-text"
          type="text"
          placeholder="Search"
        />
      </div>
      <div class="flex items-center jost-text">
        <p class="text-md font-semibold">Filter</p>
        <select
          class="ml-2 rounded-md border shadow-md border-gray-300 px-2 py-1 focus:ring-0"
        >
          <option value="all-time">All</option>
          <option value="last-month">Verified</option>
          <option value="last-year">Rejected</option>
        </select>
      </div>
    </div>
    <div class="overflow-x-auto">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
          <tr class="">
            <th
              scope="col"
              class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Instructor Name
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Category
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Request Date
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Status
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Certificates
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider"
            >
              Options
            </th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200 poppins-text">
          <tr class="text-center" *ngFor="let reuest of data">
            <td class="px-6 py-4 whitespace-nowrap">Jane Cooper</td>
            <td class="px-6 py-4 whitespace-nowrap">Photography</td>
            <td class="px-6 py-4 whitespace-nowrap">janemicrosoft.com</td>
            <td
              class="px-6 py-4 whitespace-nowrap flex items-center justify-center"
            >
              verified <i class="fas fa-check-circle text-green-500 ml-2"></i>
            </td>
            <td
              class="px-6 py-4 whitespace-nowrap cursor-pointer"
              (click)="openModal()"
            >
              <span
                class="px-4 py-0.5 inline-flex text-xs leading-5 font-semibold rounded-md ring-1 ring-gray-600 text-green-800"
              >
                View
              </span>
            </td>
            <td
              class="px-6 py-4 whitespace-nowrap text-clip text-sm font-medium cursor-pointer"
            >
              <!-- <i class="fas fa-ellipsis-v"></i> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mt-16 flex justify-center items-center">
      <app-pagination
        [totalPages]="totalPages"
        [currentPage]="currentPage"
        (pageChanged)="onPageChanged($event)"
      ></app-pagination>
    </div>
  </div>
</div>

<div
  *ngIf="isVisible$ | async"
  class="fixed inset-0 z-50 overflow-y-auto flex items-center justify-center bg-black bg-opacity-60"
>
  <app-certificate-view (modalClosed)="closeModal()"></app-certificate-view>
</div>
