<div class="container mx-auto py-8">
  <h1 class="text-2xl font-bold mb-4 exo-text">Dashboard</h1>

  <div class="grid grid-cols-5 gap-20 mt-10">
    <div class="bg-white rounded-lg shadow-md p-4">
      <div class="flex items-center justify-between mb-2">
        <div class="flex flex-col gap-4">
            <p class="text-md font-bold exo-text">Total Students</p>
            <p class="text-4xl font-bold exo-text">4,209</p>
        </div>
        <div class="">
            <i class="fa fa-user-graduate text-orange-400" style="font-size:40px;"
            ></i>
        </div>
      </div>
    </div>
    <div class="bg-white rounded-lg shadow-md p-4">
        <div class="flex items-center justify-between mb-2">
            <div class="flex flex-col gap-4">
                <p class="text-md font-bold exo-text">Total Instructors</p>
                <p class="text-4xl font-bold exo-text">4,209</p>
            </div>
            <div class="">
                <i class="fa fa-chalkboard-teacher text-orange-400" style="font-size:40px;"></i>
            </div>
          </div>
    </div>
    <div class="bg-white rounded-lg shadow-md p-4">
        <div class="flex items-center justify-between mb-2">
            <div class="flex flex-col gap-4">
                <p class="text-md font-bold exo-text">Total Categories</p>
                <p class="text-4xl font-bold exo-text">4,209</p>
            </div>
            <div class="">
                <i class="fa fa-th-large text-orange-400" style="font-size:40px;"></i>
            </div>
          </div>
    </div>
    <div class="bg-white rounded-lg shadow-md p-4">
        <div class="flex items-center justify-between mb-2">
            <div class="flex flex-col gap-4">
                <p class="text-md font-bold exo-text">Total Courses</p>
                <p class="text-4xl font-bold exo-text">4,209</p>
            </div>
            <div class="">
                <i class="fa fa-book text-orange-400 "style="font-size:40px;"></i>
            </div>
          </div>
    </div>
    <div class="bg-white rounded-lg shadow-md p-4">
        <div class="flex items-center justify-between mb-2">
            <div class="flex flex-col gap-4">
                <p class="text-md font-bold exo-text">Total Revenue</p>
                <p class="text-4xl font-bold exo-text">4,209</p>
            </div>
            <div class="">
                <i class="fa fa-coins  text-orange-400" style="font-size:40px;"></i>
            </div>
        </div>
    </div>
    
  </div>

  <div class="flex items-center justify-between mt-20">
    <div class="flex items-center jost-text">
      <p class="text-md font-bold">Timeframe: All-time</p>
      <select class="ml-2 rounded-md border text-sm border-gray-300 px-2 py-1">
        <option value="all-time">All-time</option>
        <option value="last-month">Last Month</option>
        <option value="last-year">Last Year</option>
      </select>
    </div>
    <button
    class="rounded-md border  text-blue-600  py-1 px-10 hover:bg-blue-100 ring-1  ring-blue-600 jost-text" 
    >
    <i class="fa fa-download"></i> &nbsp;&nbsp;Download
    </button>
  </div>

  <div class="grid grid-cols-2 gap-4 mt-8 ">
    <div class="bg-white rounded-lg shadow-md p-4">
        <apx-chart
        [series]="chartOptions.series!"
        [chart]="chartOptions.chart!"
        [xaxis]="chartOptions.xaxis!"
        [dataLabels]="chartOptions.dataLabels!"
        [grid]="chartOptions.grid!"
        [stroke]="chartOptions.stroke!"
        [title]="chartOptions.title!"
        [markers]="chartOptions.markers!"
        [yaxis]="chartOptions.yaxis!"
        [fill]="chartOptions.fill!"
      ></apx-chart>
    </div>
    <div class="bg-white rounded-lg shadow-md p-4">
        <apx-chart
        [series]="chartOptions.series!"
        [chart]="chartOptions.chart!"
        [xaxis]="chartOptions.xaxis!"
        [dataLabels]="chartOptions.dataLabels!"
        [grid]="chartOptions.grid!"
        [stroke]="chartOptions.stroke!"
        [title]="chartOptions.title!"
        [markers]="chartOptions.markers!"
        [yaxis]="chartOptions.yaxis!"
        [fill]="chartOptions.fill!"
      ></apx-chart>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-4 mt-8">
    <div class="bg-white rounded-lg shadow-md p-4">
      <div class="">
        <apx-chart
    [series]="chartOptions.series!"
    [chart]="chartOptions.chart!"
    [xaxis]="chartOptions.xaxis!"
    [dataLabels]="chartOptions.dataLabels!"
    [grid]="chartOptions.grid!"
    [stroke]="chartOptions.stroke!"
    [title]="chartOptions.title!"
    [markers]="chartOptions.markers!"
    [yaxis]="chartOptions.yaxis!"
    [fill]="chartOptions.fill!"
  ></apx-chart>
      </div>
    </div>
    <div class="grid grid-cols-2 gap-4">
      <div class="bg-white rounded-lg shadow-md p-4">
        <h2 class="text-sm font-medium text-gray-500 mb-4">Instructor Distribution</h2>
        <div id="chart" class="flex flex-col items-center justify-center h-full">
            <apx-chart
              [series]="pieChartOptions.series!"
              [chart]="pieChartOptions.chart!"
              [labels]="pieChartOptions.labels"
              [fill]="pieChartOptions.fill!"
              [dataLabels]="pieChartOptions.dataLabels!"
              [responsive]="pieChartOptions.responsive!"
            ></apx-chart>
          </div>
      </div>
      <div class="bg-white rounded-lg shadow-md p-4">
        <h2 class="text-sm font-medium text-gray-500 mb-4">Subscription Distribution</h2>
        <div id="chart " class="flex flex-col items-center justify-center h-full">
            <apx-chart
              [series]="pieChartOptions.series!"
              [chart]="pieChartOptions.chart!"
              [labels]="pieChartOptions.labels"
              [fill]="pieChartOptions.fill!"
              [dataLabels]="pieChartOptions.dataLabels!"
              [responsive]="pieChartOptions.responsive!"
            ></apx-chart>
          </div>
      </div>
    </div>
  </div>
</div>


