<div
  class="flex flex-col justify-center items-center bg-cover bg-center"
  style="background-image: url('images/banner.png')"
>
  <div class="container mx-auto px-4 py-64 flex justify-start items-center">
    <div class="">
      <h1 class="exo-text font-bold text-5xl leading-snug text-gray-800 mb-3">
        Build Skills With
        <br />
        Online Course
      </h1>
      <p class="text-sm md:text-base text-gray-600 mb-4">
        We denounce with righteous indignation and dislike men who are
        <br />
        so beguiled and demoralized that cannot trouble.
      </p>
      <button
        class="bg-orange-500 hover:bg-orange-700 rounded-full text-white font-bold py-2 px-4"
      >
        Posts Comment
      </button>
    </div>
  </div>
</div>

<div class="container mx-auto py-12">
  <div class="flex justify-between">
    <div>
      <h2 class="text-3xl font-semibold mb-6 text-left exo-text">
        Top Categories
      </h2>
      <p class="text-gray-500 text-left mb-10 jost-text">
        Explore our Popular Categories
      </p>
    </div>
    <div>
      <button
        class="rounded-full border-2 border-gray-400 px-3 py-2 font-medium jost-text"
        [routerLink]="'./course'"
      >
        All Categories
      </button>
    </div>
  </div>
  <div class="grid grid-cols-5 gap-16">
    <div
      *ngFor="let category of categories"
      class="group bg-white crd rounded-lg shadow-md shadow-slate-400 p-6 text-center transform transition-transform hover:scale-110 hover:ease-out"
      style="border-top: 0.1px solid #d1d5db"
      (click)="navigateToCourse(category)"
    >
      <i [ngClass]="category.icon" class="text-orange-500 text-4xl mb-4"></i>
      <h3
        class="text-lg font-bold mb-2 group-hover:text-orange-500 duration-200 exo-text"
      >
        {{ category.title }}
      </h3>
      <p class="text-gray-600 jost-text">{{ category.totalCourses }}</p>
    </div>
    <div
      class="bg-white crd rounded-lg shadow-md shadow-slate-400 p-6 text-center transform transition-transform hover:scale-110 hover:ease-out"
      style="border-top: 0.1px solid #d1d5db"
    >
      <i class="fas fa-code text-orange-500 text-4xl mb-4"></i>
      <h3 class="text-lg font-bold mb-2">Development</h3>
      <p class="text-gray-600">38 Courses</p>
    </div>
    <div
      class="bg-white crd rounded-lg shadow-md shadow-slate-400 p-6 text-center transform transition-transform hover:scale-110 hover:ease-out"
      style="border-top: 0.1px solid #d1d5db"
    >
      <i class="fas fa-sync text-orange-500 text-4xl mb-4"></i>
      <h3 class="text-lg font-bold mb-2">Communication</h3>
      <p class="text-gray-600">38 Courses</p>
    </div>
    <div
      class="bg-white crd rounded-lg shadow-md shadow-slate-400 p-6 text-center transform transition-transform hover:scale-110 hover:ease-out"
      style="border-top: 0.1px solid #d1d5db"
    >
      <i class="fas fa-video text-orange-500 text-4xl mb-4"></i>
      <h3 class="text-lg font-bold mb-2">Videography</h3>
      <p class="text-gray-600">38 Courses</p>
    </div>
    <div
      class="bg-white crd rounded-lg shadow-md shadow-slate-400 p-6 text-center transform transition-transform hover:scale-110 hover:ease-out"
      style="border-top: 0.1px solid #d1d5db"
    >
      <i class="fas fa-camera text-orange-500 text-4xl mb-4"></i>

      <h3 class="text-lg font-bold mb-2">Photography</h3>
      <p class="text-gray-600">38 Courses</p>
    </div>
    <div
      class="bg-white crd rounded-lg shadow-md shadow-slate-400 p-6 text-center transform transition-transform hover:scale-110 hover:ease-out"
      style="border-top: 0.1px solid #d1d5db"
    >
      <i class="fas fa-palette text-orange-500 text-4xl mb-4"></i>
      <h3 class="text-lg font-bold mb-2">Art & Design</h3>
      <p class="text-gray-600">38 Courses</p>
    </div>
    <div
      class="bg-white crd rounded-lg shadow-md shadow-slate-400 p-6 text-center transform transition-transform hover:scale-110 hover:ease-out"
      style="border-top: 0.1px solid #d1d5db"
    >
      <i class="fas fa-code text-orange-500 text-4xl mb-4"></i>
      <h3 class="text-lg font-bold mb-2">Development</h3>
      <p class="text-gray-600">38 Courses</p>
    </div>
    <div
      class="bg-white crd rounded-lg shadow-md shadow-slate-400 p-6 text-center transform transition-transform hover:scale-110 hover:ease-out"
      style="border-top: 0.1px solid #d1d5db"
    >
      <i class="fas fa-sync text-orange-500 text-4xl mb-4"></i>
      <h3 class="text-lg font-bold mb-2">Communication</h3>
      <p class="text-gray-600">38 Courses</p>
    </div>
    <div
      class="bg-white crd rounded-lg shadow-md shadow-slate-400 p-6 text-center transform transition-transform hover:scale-110 hover:ease-out"
      style="border-top: 0.1px solid #d1d5db"
    >
      <i class="fas fa-video text-orange-500 text-4xl mb-4"></i>
      <h3 class="text-lg font-bold mb-2">Videography</h3>
      <p class="text-gray-600">38 Courses</p>
    </div>
    <div
      class="bg-white crd rounded-lg shadow-md shadow-slate-400 p-6 text-center transform transition-transform hover:scale-110 hover:ease-out"
      style="border-top: 0.1px solid #d1d5db"
    >
      <i class="fas fa-video text-orange-500 text-4xl mb-4"></i>

      <h3 class="text-lg font-bold mb-2">Photography</h3>
      <p class="text-gray-600">38 Courses</p>
    </div>
  </div>

  <div class="flex justify-between mt-20 mb-10">
    <div class="flex-col justify-between">
      <h2 class="text-left font-semibold text-3xl mb-6 exo-text">
        Featured Courses
      </h2>
      <p class="text-left text-gray-500 jost-text">
        Explore our Popular Courses
      </p>
    </div>
    <div>
      <button
        class="rounded-full px-3 py-2 border-2 border-gray-400 font-medium jost-text"
        [routerLink]="'./course'"
      >
        All Courses
      </button>
    </div>
  </div>

  <div class="grid grid-cols-3 gap-x-20 gap-y-10">
    <div
      *ngFor="let course of featuredCourses"
      class="flex flex-col bg-white rounded-lg shadow-md text-center transform transition duration-700 hover:scale-105 hover:shadow-lg hover:shadow-slate-400"
    >
      <img
        [src]="course.previewImage[0].url"
        alt="Course Image 3"
        class="rounded-t-lg w-full h-72 object-cover"
      />
      <span
        class="absolute top-2 left-2 bg-black text-white text-sm px-2 py-1 rounded jost-text"
        >{{ course.category_id.title | titlecase }}</span
      >
      <div class="flex-grow p-4 pb-0">
        <p class="text-gray-500 text-sm text-left jost-text">
          by {{ course.user_id.name | titlecase }}
        </p>
        <h2
          class="font-bold text-lg text-left truncate overflow-hidden line-clamp-2 text-wrap exo-text"
        >
          {{ course.title | titlecase }}
        </h2>
        <div
          class="flex justify-start items-center space-x-8 text-sm text-gray-500 mt-2 mb-4"
        >
          <span class="jost-text flex items-center">
            <i class="fas fa-clock text-orange-500 mr-2"></i>
            {{ course.createdAt | date }}
          </span>
          <span class="jost-text flex items-center">
            <i class="fas fa-graduation-cap text-orange-500 mr-2"></i>
            156 Students
          </span>
        </div>
        <hr class="w-11/12 mt-2 mx-auto text-gray-500" />
      </div>
      <div class="flex justify-between items-center p-4">
        <div class="flex justify-start space-x-3">
          <span class=" text-gray-400 jost-text"
            >₹ {{ course.price }}</span
          >
        </div>
      </div>
    </div>

  </div>

  <div
    class="w-full flex py-8 my-10 items-center justify-end bg-cover bg-center"
    style="background-image: url('images/banner1.png')"
  >
    <div class="max-w-xl py-6">
      <h2 class="text-3xl font-bold text-gray-800 mb-4 text-left exo-text">
        Grow Us Your Skill With LearnPress LMS
      </h2>
      <p class="text-gray-500 mb-6 jost-text">
        We denounce with righteous indignation and dislike men who are so
        beguiled and demoralized that cannot trouble.
      </p>
      <ul class="list-none space-y-2 jost-text none">
        <li class="text-gray-700">
          <span class="text-green-500">✓</span> Certification
        </li>
        <li class="text-gray-700">
          <span class="text-green-500">✓</span> Certification
        </li>
        <li class="text-gray-700">
          <span class="text-green-500">✓</span> Certification
        </li>
        <li class="text-gray-700">
          <span class="text-green-500">✓</span> Certification
        </li>
      </ul>
      <div class="mt-6 text-center">
        <button
          class="bg-orange-500 hover:bg-orange-600 text-white font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline"
        >
          Explore Course
        </button>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-5 gap-24">
    <div
      class="group bg-white crd rounded-lg shadow-md shadow-slate-400 p-6 text-center transform transition-transform hover:scale-110 hover:ease-out"
      style="border-top: 0.1px solid #d1d5db"
    >
      <h2 class="font-bold text-orange-500 text-4xl mb-4 exo-text">25K+</h2>
      <p class="text-gray-600 text-sm mb-2 jost-text">Active Students</p>
    </div>
    <div
      class="group bg-white crd rounded-lg shadow-md shadow-slate-400 p-6 text-center transform transition-transform hover:scale-110 hover:ease-out"
      style="border-top: 0.1px solid #d1d5db"
    >
      <h2 class="font-bold text-orange-500 text-4xl mb-4 exo-text">25K+</h2>
      <p class="text-gray-600 text-sm mb-2 jost-text">Active Students</p>
    </div>
    <div
      class="group bg-white crd rounded-lg shadow-md shadow-slate-400 p-6 text-center transform transition-transform hover:scale-110 hover:ease-out"
      style="border-top: 0.1px solid #d1d5db"
    >
      <h2 class="font-bold text-orange-500 text-4xl mb-4 exo-text">899</h2>
      <p class="text-gray-600 text-sm mb-2 jost-text">Total Courses</p>
    </div>
    <div
      class="group bg-white crd rounded-lg shadow-md shadow-slate-400 p-6 text-center transform transition-transform hover:scale-110 hover:ease-out"
      style="border-top: 0.1px solid #d1d5db"
    >
      <h2 class="font-bold text-orange-500 text-4xl mb-4 exo-text">158</h2>
      <p class="text-gray-600 text-sm mb-2 jost-text">Instructor</p>
    </div>
    <div
      class="group bg-white crd rounded-lg shadow-md shadow-slate-400 p-6 text-center transform transition-transform hover:scale-110 hover:ease-out"
      style="border-top: 0.1px solid #d1d5db"
    >
      <h2 class="font-bold text-orange-500 text-4xl mb-4 exo-text">100%</h2>
      <p class="text-gray-600 text-sm mb-2 jost-text">Satisfaction Rate</p>
    </div>
  </div>

  <div class="flex flex-col mt-16">
    <div class="p-3">
      <h1 class="font-semibold text-3xl text-center mb-3 exo-text">
        Student Feedbacks
      </h1>
      <p class="text-center text-xl jost-text text-gray-400">
        What Students Say About Academy LMS
      </p>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-16">
    <div class="bg-white border rounded-3xl py-6 px-8">
      <div class="flex items-center mb-3 ml-">
        <img src="images/quote.ico" alt="" />
      </div>
      <p
        class="text-gray-700 text-lg mb-4 leading-8 pt-0 text-left font-medium jost-text"
      >
        I must explain to you how all this mistaken. Tdea all all a a of
        denouncing pleasure and praising pain was born and I will give you a
        complete account of the system and expound
      </p>
      <h2 class="text-xl py-2 font-bold exo-text text-gray-600">Roe Smith</h2>
      <p class="text-gray-500 text-lg jost-text">Designer</p>
    </div>
    <div class="bg-white border rounded-3xl py-6 px-8">
      <div class="flex items-center mb-3 ml-">
        <img src="images/quote.ico" alt="" />
      </div>
      <p
        class="text-gray-700 text-lg mb-4 leading-8 pt-0 text-left font-medium jost-text"
      >
        I must explain to you how all this mistaken. Tdea of denouncing pleasure
        and praising pain was born and I will give you a complete account of the
        system and expound
      </p>
      <h2 class="text-xl py-2 font-bold exo-text text-gray-600">Roe Smith</h2>
      <p class="text-gray-500 text-lg jost-text">Designer</p>
    </div>
    <div class="bg-white border rounded-3xl py-6 px-8">
      <div class="flex items-center mb-3 ml-">
        <img src="images/quote.ico" alt="" />
      </div>
      <p
        class="text-gray-700 text-lg mb-4 leading-8 pt-0 text-left font-medium jost-text"
      >
        I must explain to you how all this mistaken. Tdea of denouncing pleasure
        and praising pain was born and I will give you a complete account of the
        system and expound
      </p>
      <h2 class="text-xl py-2 font-bold exo-text text-gray-600">Roe Smith</h2>
      <p class="text-gray-500 text-lg jost-text">Designer</p>
    </div>
    <div class="bg-white border rounded-3xl py-6 px-8">
      <div class="flex items-center mb-3 ml-">
        <img src="images/quote.ico" alt="" />
      </div>
      <p
        class="text-gray-700 text-lg mb-4 leading-8 pt-0 text-left font-medium jost-text"
      >
        I must explain to you how all this mistaken. Tdea of denouncing pleasure
        and praising pain was born and I will give you a complete account of the
        system and expound
      </p>
      <h2 class="text-xl py-2 font-bold exo-text text-gray-600">Roe Smith</h2>
      <p class="text-gray-500 text-lg jost-text">Designer</p>
    </div>
    <div class="bg-white border rounded-3xl py-6 px-8">
      <div class="flex items-center mb-3 ml-">
        <img src="images/quote.ico" alt="" />
      </div>
      <p
        class="text-gray-700 text-lg mb-4 leading-8 pt-0 text-left font-medium jost-text"
      >
        I must explain to you how all this mistaken. Tdea of denouncing pleasure
        and praising pain was born and I will give you a complete account of the
        system and expound
      </p>
      <h2 class="text-xl py-2 font-bold exo-text text-gray-600">Roe Smith</h2>
      <p class="text-gray-500 text-lg jost-text">Designer</p>
    </div>
  </div>
</div>

<div class="bg-gray-100 mt-8 p-5">
  <div class="container mx-auto flex gap-8 justify-between relative">
    <div class="flex-col items-start w-4/12">
      <div class="flex space-x-2">
        <img src="images/Log.ico" alt="EduPress Logo" class="w-8 h-auto" />
        <a href="#" class="text-black font-bold text-3xl exo-text">EduSpace</a>
      </div>
      <div class="py-3">
        <p class="text-wrap jost-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
      </div>
    </div>
    <div class="flex-col space-y-4 w-2/12">
      <h2 class="font-bold">GET HELP</h2>
      <ul class="space-y-4 jost-text">
        <li>
          <a href="#" class="hover:underline hover:text-orange-500"
            >Contact Us</a
          >
        </li>
        <li>
          <a href="#" class="hover:underline hover:text-orange-500"
            >Latest Articles</a
          >
        </li>
        <li>
          <a href="#" class="hover:underline hover:text-orange-500">FAQ</a>
        </li>
      </ul>
    </div>
    <div class="flex-col space-y-4 justify-start w-2/12">
      <h2 class="font-bold exo-text">PROGRAMS</h2>
      <ul class="space-y-2 jost-text">
        <li>
          <a href="#" class="hover:underline hover:text-orange-500"
            >Art & Design</a
          >
        </li>
        <li>
          <a href="#" class="hover:underline hover:text-orange-500">Business</a>
        </li>
        <li>
          <a href="#" class="hover:underline hover:text-orange-500"
            >IT & Software</a
          >
        </li>
        <li>
          <a href="#" class="hover:underline hover:text-orange-500"
            >Languages</a
          >
        </li>
        <li>
          <a href="#" class="hover:underline hover:text-orange-500"
            >Programming</a
          >
        </li>
      </ul>
    </div>
    <div class="flex-col space-y-4 justify-start w-4/12">
      <h2 class="font-bold">CONTACT US</h2>
      <ul class="space-y-4 jost-text">
        <li>Address: 2321 New Design Str, Lorem Ipsum10, Hudson Yards, USA</li>
        <li>Tel: + (123) 2500-567-8988</li>
        <li>Mail: supportlmsgmail.com</li>
        <li class="flex space-x-4">
          <a href="#" class="hover:underline text-blue-500">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#" class="hover:underline text-red-500">
            <i class="fab fa-pinterest-p"></i>
          </a>
          <a href="#" class="hover:underline text-black">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#" class="hover:underline text-black">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="#" class="hover:underline text-red-500">
            <i class="fab fa-youtube"></i>
          </a>
        </li>
      </ul>
    </div>

    <button
      class="absolute right-0 bottom-0.5 rounded-full bg-black text-white p-4"
      (click)="scrollTop()"
    >
      <i
        class="fas fa-arrow-up absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"
      ></i>
    </button>
  </div>
  <div class="text-center mt-4">
    <p class="text-sm text-gray-500">
      Copyright © 2024 EduSpace | Powered by EduSpace
    </p>
  </div>
</div>
