<div class="px-4 pt-8" *ngIf="course$ | async as courseDetails">
  <div class="sticky top-16 bg-white z-10">
    <div class="container mx-auto pb-2">
      <div class="flex justify-between items-start">
        <div class="max-w-2xl">
          <h1 class="text-3xl font-bold exo-text">
            {{ courseDetails.title | titlecase }}
          </h1>
        </div>
      </div>

      <div class="flex justify-start mt-6">
        <div class="flex justify-start gap-6">
          <h3
            class="text-sm font-semibold exo-text cursor-pointer"
            *ngFor="let item of navItems"
            [routerLink]="item.link"
            [class]="isActive(item.link) ? 'text-orange-500' : ''"
          >
            {{ item.title }}
          </h3>
        </div>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
