.text-xxs {
  font-size: 0.6rem;
  line-height: 7px;
}
/* styles.css */
textarea {
  overflow: hidden;
}

.message-text{
  font-size: .9rem;
  line-height: 22px;
}
.time-text{
  font-size: 0.6rem;
  line-height: 8px;
}

