<div class="container mx-auto p-4">
    <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" class="space-y-4">
      <div class="p-4 border rounded-md">
        <label for="name" class="block mb-2 text-sm font-medium text-gray-700">Name</label>
        <input id="name" type="text" formControlName="name" class="block w-full p-2 border rounded-md" />
        <div *ngIf="categoryForm.get('name')?.invalid && categoryForm.get('name')?.touched" class="text-red-600">
          Name is required
        </div>

        <label for="userType" class="block mt-4 mb-2 text-sm font-medium text-gray-700">User Type</label>
        <input id="userType" type="text" formControlName="userType" class="block w-full p-2 border rounded-md" />
        <div *ngIf="categoryForm.get('userType')?.invalid && categoryForm.get('userType')?.touched" class="text-red-600">
          User Type is required
        </div>

        <label for="description" class="block mt-4 mb-2 text-sm font-medium text-gray-700">Description</label>
        <textarea id="description" formControlName="description" class="block w-full p-2 border rounded-md"></textarea>
        <div *ngIf="categoryForm.get('description')?.invalid && categoryForm.get('description')?.touched" class="text-red-600">
          Description is required
        </div>
      </div>

      <div *ngFor="let category of categories.controls; let i = index" [formGroup]="getCategory(i)" class="p-4 border rounded-md">
        <div class="bg-black text-white p-2 rounded-md">
          <input type="checkbox" class="mr-2"> {{ category.get('name')?.value }}
        </div>
        <div *ngFor="let submenu of getSubmenu(i).controls; let j = index" [formGroup]="getSubmenuGroup(i, j)" class="flex justify-between items-center mt-2">
          <div>
            <input type="checkbox" class="mr-2"> {{ submenu.get('name')?.value }}
          </div>
          <div>
            <label class="mr-2"><input type="checkbox" formControlName="add"> Add</label>
            <label class="mr-2"><input type="checkbox" formControlName="edit"> Edit</label>
            <label class="mr-2"><input type="checkbox" formControlName="delete"> Delete</label>
          </div>
        </div>
      </div>
      <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded-md">Submit</button>
    </form>
  </div>
