<div class="px-4 py-8" *ngIf="courseDetails$ | async as courseDetails">
  <div class="sticky top-16 py-4 bg-white z-10">
    <div class="container mx-auto">
      <div class="flex justify-between items-start">
        <div class="max-w-2xl">
          <h1 class="text-3xl font-bold exo-text">
            {{ courseDetails.title | titlecase }}
          </h1>
          <div class="flex items-center mt-4">
            <img
              src="/images/banner.png"
              alt="Anna John"
              class="w-10 h-10 rounded-full"
            />
            <span class="ml-4 font-semibold exo-text">{{
              courseDetails.user_id.name | titlecase
            }}</span>
          </div>
        </div>
        <div class="flex items-center mb-2">
          <span class="text-yellow-500">⭐⭐⭐☆☆</span>
          <span class="ml-2 text-gray-600 jost-text"
            >({{ courseDetails.rating }} Reviews)</span
          >
        </div>
      </div>

      <div class="flex justify-start mt-6">
        <div class="flex justify-start gap-6">
          <h3
            class="text-sm font-semibold exo-text cursor-pointer"
            *ngFor="let item of navItems"
            [routerLink]="item.link"
            [class]="isActive(item.link) ? 'text-orange-500' : ''"
          >
            {{ item.title }}
          </h3>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-6 container mx-auto flex justify-between items-center">
    <div class="drop-shadow-md">
      <video
        [src]="courseDetails.previewVideo[0].url"
        alt="Course Image"
        class="w-full rounded shadow-lg"
        controls
      ></video>
    </div>

    <div class="border p-8 rounded-md shadow-lg text-center w-96">
      <div class="text-2xl font-bold exo-text">
        ₹ {{ courseDetails.price }}.00 INR
      </div>
      <p class="text-gray-600 mt-2 text-justify jost-text text-xxs">
        Provide most popular courses that you want to join and let's start the
        course for the most way in here
      </p>
      <div #paymentRef></div>
      <button
      (click)="buy()"
        class="mt-4 ring-1 text-green-500 py-2 w-full exo-text rounded"
        style="color: #40c003"
      >
        Buy ₹ {{ courseDetails.price }} INR
      </button>
      <ul class="text-left mt-6 space-y-4">
        <li class="flex items-center">
          <i
            class="fas fa-signal w-6 h-6 mr-3 border border-gray-400 rounded-md p-4 flex items-center justify-center"
          ></i>

          <p class="jost-text">
            Course Level: <span class="font-light">Intermediate</span>
          </p>
        </li>
        <li class="flex items-center">
          <i
            class="far fa-clock w-6 h-6 mr-3 border border-gray-400 rounded-md p-4 flex items-center justify-center"
          ></i>
          <p class="jost-text">
            Duration: <span class="font-light">1hr 45m</span>
          </p>
        </li>

        <li class="flex items-center">
          <i
            class="fas fa-video w-6 h-6 mr-3 border border-gray-400 rounded-md p-4 flex items-center justify-center"
          ></i>
          <p class="jost-text">Lessons: <span class="font-light">5</span></p>
        </li>
        <li class="flex items-center">
          <i
            class="fas fa-file-alt w-6 h-6 mr-3 border border-gray-400 rounded-md p-4 flex items-center justify-center"
          ></i>
          <p class="jost-text">Notes: <span class="font-light">2</span></p>
        </li>
        <li class="flex items-center">
          <i
            class="far fa-flag w-6 h-6 mr-3 border border-gray-400 rounded-md p-4 flex items-center justify-center"
          ></i>
          <p class="jost-text">
            Language: <span class="font-light">English</span>
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="container mx-auto">
    <router-outlet></router-outlet>
  </div>
</div>
