<div class="flex h-screen">
  <div class="bg-white w-64 shadow-md p-6 rounded-lg fixed h-full">
    <div class="flex items-center mb-6">
      <img
        src="images/Log.ico"
        alt="EduSpace Logo"
        class="w-10 h-10 mr-2"
      />
      <h1 class="text-xl font-bold exo-text">EduSpace</h1>
    </div>
    <p class="text-gray-500 mb-6 jost-text">Teacher Panel</p>
    <div class="flex flex-col gap-2.5 py-2">
      <a
        [ngClass]="{ 'active-link': selectedItem == 0 }"
        (click)="selectItem(0)"
        [routerLink]="'./'"
        class="text-gray-700 hover:text-gray-900 block mb-4 py-2 px-4 jost-text cursor-pointer"
      >
        <i class="fas fa-home mr-2"></i> Dashboard
      </a>
      <a
        [ngClass]="{ 'active-link': selectedItem == 1 }"
        (click)="selectItem(1)"
        [routerLink]="'course_manage'"
        class="text-gray-700 hover:text-gray-900 block mb-4 py-2 px-4 jost-text cursor-pointer"
      >
        <i class="fas fa-book mr-2"></i> Courses
      </a>
      <a
        [ngClass]="{ 'active-link': selectedItem == 2 }"
        (click)="selectItem(2)"
        [routerLink]="'discussions'"
        class="text-gray-700 hover:text-gray-900 block mb-4 py-2 px-4 jost-text cursor-pointer"
      >
        <i class="fas fa-comments mr-2"></i> Discussions
      </a>
      <a
        [ngClass]="{ 'active-link': selectedItem == 3 }"
        (click)="selectItem(3)"
        [routerLink]="'wallet_manage'"
        class="text-gray-700 hover:text-gray-900 block mb-4 py-2 px-4 jost-text cursor-pointer"
      >
        <i class="fas fa-wallet mr-2"></i> Wallet
      </a>
      <a
        [ngClass]="{ 'active-link': selectedItem == 4 }"
        (click)="selectItem(4)"
        [routerLink]="'profile_manage'"
        class="text-gray-700 hover:text-gray-900 block mb-4 py-2 px-4 jost-text cursor-pointer"
      >
        <i class="fas fa-user mr-2"></i> Profile
      </a>
      <a
        [ngClass]="{ 'active-link': selectedItem == 5 }"
        (click)="selectItem(5)"
        [routerLink]="''"
        class="text-gray-700 hover:text-gray-900 block mb-4 py-2 px-4 jost-text cursor-pointer"
      >
        <i class="fas fa-sign-out-alt mr-2"></i> Logout
      </a>
    </div>
  </div>

  <div class="flex flex-1" style="background: #f3f2f7">
    <div class="flex items-center justify-between px-6 fixed w-full z-10">
      <div class="w-64 px-6"></div>
      <div class="flex flex-1 justify-between pt-7 pb-0" style="background: #f3f2f7">
        <h1 class="text-2xl font-bold mb-4 exo-text">Dashboard</h1>
        <div class="flex items-center space-x-7 px-4">
          <div
            class="flex items-center px-12 space-x-10 border-r-2 border-gray-200"
          >
            <div class="relative">
              <i
                class="fas fa-comment-alt text-blue-500 rounded-full text-lg"
              ></i>
              <span
                class="absolute -top-2.5 -right-3.5 p-2.5 inline-flex items-center justify-center w-4 h-4 text-xxs font-bold leading-none text-blue-100 bg-red-500 rounded-full"
                >20</span
              >
            </div>
            <div class="relative">
              <i class="fas fa-bell text-blue-500 rounded-full text-lg"></i>
              <span
                class="absolute -top-2.5 -right-3.5 p-2.5 inline-flex items-center justify-center w-4 h-4 text-xxs font-bold leading-none text-blue-100 bg-red-500 rounded-full"
                >20</span
              >
            </div>
          </div>

          <span class="mr-4">Samantha</span>
          <img
            src="https://via.placeholder.com/40"
            alt="User Avatar"
            class="rounded-full w-10 h-10"
          />
        </div>
      </div>
    </div>

    <div class="flex-1 overflow-y-auto p-6 mt-6 ml-64">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
