<div class="container mx-auto py-12">
  <div class="flex gap-20">
    <div class="min-w-72 p-4">
      <!-- Course Category Section -->
      <div class="mb-4">
        <h2 class="font-semibold text-lg mb-2">Course Category</h2>
        <div *ngFor="let category of courseCategories">
          <label class="flex items-center">
            <input
              type="checkbox"
              class="mr-2"
              [(ngModel)]="category.selected"
            />
            {{ category.name }}
            <span class="ml-auto text-gray-500">{{ category.count }}</span>
          </label>
        </div>
      </div>

      <!-- Instructors Section -->
      <div class="mb-4">
        <h2 class="font-semibold text-lg mb-2">Instructors</h2>
        <div *ngFor="let instructor of instructors">
          <label class="flex items-center">
            <input
              type="checkbox"
              class="mr-2"
              [(ngModel)]="instructor.selected"
            />
            {{ instructor.name }}
            <span class="ml-auto text-gray-500">{{ instructor.count }}</span>
          </label>
        </div>
      </div>

      <!-- Price Section -->
      <div class="mb-4">
        <h2 class="font-semibold text-lg mb-2">Price</h2>
        <div *ngFor="let price of prices">
          <label class="flex items-center">
            <input type="checkbox" class="mr-2" [(ngModel)]="price.selected" />
            {{ price.name }}
            <span class="ml-auto text-gray-500">{{ price.count }}</span>
          </label>
        </div>
      </div>

      <!-- Review Section -->
      <div class="mb-4">
        <h2 class="font-semibold text-lg mb-2">Review</h2>
        <div *ngFor="let review of reviews">
          <label class="flex items-center">
            <input type="checkbox" class="mr-2" [(ngModel)]="review.selected" />
            <span class="flex items-center">
              <span *ngFor="let star of review.stars" class="text-yellow-500"
                >&#9733;</span
              >
              <span
                *ngFor="let empty of review.emptyStars"
                class="text-gray-300"
                >&#9733;</span
              >
            </span>
            <span class="ml-auto text-gray-500">({{ review.count }})</span>
          </label>
        </div>
      </div>
    </div>

    <div class="flex-grow p-4">
      <!-- Main content goes here -->
      <div class="grid grid-cols-2 gap-x-20 gap-y-10">
        <div
          class="flex flex-col bg-white rounded-lg shadow-md text-center transform transition duration-700 hover:scale-105 hover:shadow-lg hover:shadow-slate-400"
        >
          <img
            src="images/banner.png"
            alt="Course Image 3"
            class="rounded-t-lg w-full h-72 object-cover"
          />
          <span
            class="absolute top-2 left-2 bg-black text-white text-sm px-2 py-1 rounded jost-text"
            >Photography</span
          >
          <div class="flex-grow p-4 pb-0">
            <p class="text-gray-500 text-sm text-left jost-text">
              by Determined-Poitras
            </p>
            <h2
              class="font-bold text-lg text-left truncate overflow-hidden line-clamp-2 text-wrap exo-text"
            >
              truncate overflow-hidden line-clamp-2 text-wraptruncate
              overflow-hidden line-clamp-2 text-wraptruncate overflow-hidden
              line-clamp-2 text-wrapCreate An LMS Website With LearnPress
            </h2>
            <div
              class="flex justify-start items-center space-x-8 text-sm text-gray-500 mt-2 mb-4"
            >
              <span class="jost-text flex items-center">
                <i class="fas fa-clock text-orange-500 mr-2"></i>
                2 Weeks
              </span>
              <span class="jost-text flex items-center">
                <i class="fas fa-graduation-cap text-orange-500 mr-2"></i>
                156 Students
              </span>
            </div>
            <hr class="w-11/12 mt-2 mx-auto text-gray-500" />
          </div>
          <div class="flex justify-between items-center p-4">
            <div class="flex justify-start space-x-3">
              <span class="line-through text-gray-400 jost-text">$29.0</span>
              <span class="text-green-500 font-bold jost-text">Free</span>
            </div>
            <button class="exo-text font-bold">View More</button>
          </div>
        </div>
        <div
          class="flex flex-col bg-white rounded-lg shadow-md text-center transform transition duration-700 hover:scale-105 hover:shadow-lg hover:shadow-slate-400"
        >
          <img
            src="images/banner.png"
            alt="Course Image 3"
            class="rounded-t-lg w-full h-72 object-cover"
          />
          <span
            class="absolute top-2 left-2 bg-black text-white text-sm px-2 py-1 rounded jost-text"
            >Photography</span
          >
          <div class="flex-grow p-4 pb-0">
            <p class="text-gray-500 text-sm text-left jost-text">
              by Determined-Poitras
            </p>
            <h2
              class="font-bold text-lg text-left truncate overflow-hidden line-clamp-2 text-wrap exo-text"
            >
              truncate overflow-hidden line-clamp-2 text-wraptruncate
              overflow-hidden line-clamp-2 text-wraptruncate overflow-hidden
              line-clamp-2 text-wrapCreate An LMS Website With LearnPress
            </h2>
            <div
              class="flex justify-start items-center space-x-8 text-sm text-gray-500 mt-2 mb-4"
            >
              <span class="jost-text flex items-center">
                <i class="fas fa-clock text-orange-500 mr-2"></i>
                2 Weeks
              </span>
              <span class="jost-text flex items-center">
                <i class="fas fa-graduation-cap text-orange-500 mr-2"></i>
                156 Students
              </span>
            </div>
            <hr class="w-11/12 mt-2 mx-auto text-gray-500" />
          </div>
          <div class="flex justify-between items-center p-4">
            <div class="flex justify-start space-x-3">
              <span class="line-through text-gray-400 jost-text">$29.0</span>
              <span class="text-green-500 font-bold jost-text">Free</span>
            </div>
            <button class="exo-text font-bold">View More</button>
          </div>
        </div>
        <div
          class="flex flex-col bg-white rounded-lg shadow-md text-center transform transition duration-700 hover:scale-105 hover:shadow-lg hover:shadow-slate-400"
        >
          <img
            src="images/banner.png"
            alt="Course Image 3"
            class="rounded-t-lg w-full h-72 object-cover"
          />
          <span
            class="absolute top-2 left-2 bg-black text-white text-sm px-2 py-1 rounded jost-text"
            >Photography</span
          >
          <div class="flex-grow p-4 pb-0">
            <p class="text-gray-500 text-sm text-left jost-text">
              by Determined-Poitras
            </p>
            <h2
              class="font-bold text-lg text-left truncate overflow-hidden line-clamp-2 text-wrap exo-text"
            >
              truncate overflow-hidden line-clamp-2 text-wraptruncate
              overflow-hidden line-clamp-2 text-wraptruncate overflow-hidden
              line-clamp-2 text-wrapCreate An LMS Website With LearnPress
            </h2>
            <div
              class="flex justify-start items-center space-x-8 text-sm text-gray-500 mt-2 mb-4"
            >
              <span class="jost-text flex items-center">
                <i class="fas fa-clock text-orange-500 mr-2"></i>
                2 Weeks
              </span>
              <span class="jost-text flex items-center">
                <i class="fas fa-graduation-cap text-orange-500 mr-2"></i>
                156 Students
              </span>
            </div>
            <hr class="w-11/12 mt-2 mx-auto text-gray-500" />
          </div>
          <div class="flex justify-between items-center p-4">
            <div class="flex justify-start space-x-3">
              <span class="line-through text-gray-400 jost-text">$29.0</span>
              <span class="text-green-500 font-bold jost-text">Free</span>
            </div>
            <button class="exo-text font-bold">View More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
