<nav class="bg-white fixed top-0 w-full shadow-md z-50 mb-16">
  <div class="container mx-auto px-4 py-3 flex justify-between items-center">
    <div class="flex justify-between space-x-3">
      <img
        src="../../../../assets/images/Log.ico"
        class="h-10 w-10"
        alt=""
      />
      <a href="#" class="text-black font-bold text-3xl exo-text">EduSpace</a>
    </div>
    <div class="hidden md:flex items-center space-x-6">
      <a href="#" class="hover:text-orange-400 transition duration-300 text-decoration">Home</a>
      <a href="#" class="hover:text-orange-400 transition duration-300">Courses</a>
      <a href="#" class="hover:text-orange-400 transition duration-300">Instructors</a>
      <a href="#" class="hover:text-orange-400 transition duration-300">Discussions</a>
      <a href="#" class="hover:text-orange-400 transition duration-300">Subscriptions</a>
    </div>
    <div class="flex justify-around items-center space-x-2">
      <a href="#" class="text-black hover:text-white">Login / Register</a>
      <img src="../../../../assets/images/user.png" class="h-5 w-5" alt="" />
    </div>
    <button class="md:hidden text-gray-400 hover:text-white">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M4 6h16M4 12h16M4 18h16"
        />
      </svg>
    </button>
  </div>
</nav>

<div style="margin-top: 4.09rem;" >
  <router-outlet></router-outlet>
</div>
