<!-- courses.component.html -->
<div class="container mx-auto px-20 py-4 space-y-6">
  <div class="py-2">
    <h1 class="text-2xl font-semibold exo-text">Subscriptions</h1>
  </div>
  <!-- Course Card Start -->
  <div
    *ngFor="let course of courses"
    class="flex bg-white shadow-md rounded-lg overflow-hidden"
  >
    <div class="w-4/12 md:h-72 relative">
      <img
        [src]="course.course.previewImage[0].url"
        alt="Course Image"
        class="w-full h-full object-cover"
      />
      <span
        class="inline-block bg-black text-white text-xs font-bold px-2 py-1 rounded absolute top-2 left-2 jost-text"
        >{{ course.course.category_id.title | titlecase }}</span
      >
    </div>
    <div class="flex flex-col justify-between p-4 w-3/4">
      <div class="flex flex-col gap-2">
        <p class="text-sm text-gray-600 jost-text">
          {{ course.course.user_id.name | titlecase }}
        </p>
        <div class="mt-2 flex justify-between items-center">
          <h2 class="text-lg font-semibold exo-text">
            {{ course.course.title | titlecase }}
          </h2>

          <div class="flex justify-between items-center mr-6">
            <div class="space-x-4">
              <button
                class="ring-1 text-blue-500 text-sm jost-text px-3 py-1 rounded"
              >
                Open Discussion
              </button>
              <button
                class="ring-1 text-blue-500 text-sm jost-text px-3 py-1 rounded"
                (click)="navigateWithData(course.course._id)"
              >
                Open Course
              </button>
            </div>
          </div>
        </div>
        <div class="flex items-center text-gray-600 text-sm mt-2 space-x-2">
          <span>
            <i class="fas fa-clock text-orange-500 mr-2"></i
            >{{ course.course.createdAt | date }}</span
          >
          <span
            ><i class="fas fa-graduation-cap text-orange-500 mr-2"></i> 156
            Students</span
          >
          <span
            ><i class="fas fa-signal text-orange-500 mr-2"></i> Intermediate
            Level</span
          >
          <span
            ><i class="fas fa-video text-orange-500 mr-2"></i>2 Lessons</span
          >
        </div>
      </div>

      <div class="border-b border-gray-200 mt-20"></div>

      <div class="flex justify-end items-center">
        <button class="jost-text mr-6">Rate & Review</button>
      </div>
    </div>
  </div>
</div>
